In [1]:
print "hello!!!!"

hello!!!!

In [2]:
print "hello!!!!"

hello!!!!

In [5]:
for i in range(100):
    print str(i) + "th iteration"

0th iteration
1th iteration
2th iteration
3th iteration
4th iteration
5th iteration
6th iteration
7th iteration
8th iteration
9th iteration
10th iteration
11th iteration
12th iteration
13th iteration
14th iteration
15th iteration
16th iteration
17th iteration
18th iteration
19th iteration
20th iteration
21th iteration
22th iteration
23th iteration
24th iteration
25th iteration
26th iteration
27th iteration
28th iteration
29th iteration
30th iteration
31th iteration
32th iteration
33th iteration
34th iteration
35th iteration
36th iteration
37th iteration
38th iteration
39th iteration
40th iteration
41th iteration
42th iteration
43th iteration
44th iteration
45th iteration
46th iteration
47th iteration
48th iteration
49th iteration
50th iteration
51th iteration
52th iteration
53th iteration
54th iteration
55th iteration
56th iteration
57th iteration
58th iteration
59th iteration
60th iteration
61th iteration
62th iteration
63th iteration
64th iteration
65th iteration
66th iteration
67th iteration
68th iteration
69th iteration
70th iteration
71th iteration
72th iteration
73th iteration
74th iteration
75th iteration
76th iteration
77th iteration
78th iteration
79th iteration
80th iteration
81th iteration
82th iteration
83th iteration
84th iteration
85th iteration
86th iteration
87th iteration
88th iteration
89th iteration
90th iteration
91th iteration
92th iteration
93th iteration
94th iteration
95th iteration
96th iteration
97th iteration
98th iteration
99th iteration

In [7]:
range(100)

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]